.sprite-icons-twitter,
.sprite-icons-linkedin,
.sprite-icons-github,
.sprite-icons-email{background-image:url(icons.png);background-repeat:no-repeat}
.sprite-icons-twitter{background-position:0px 0px;width:24px;height:24px;}
.sprite-icons-linkedin{background-position:-24px 0px;width:24px;height:24px;}
.sprite-icons-github{background-position:0px -24px;width:24px;height:24px;}
.sprite-icons-email{background-position:-24px -24px;width:24px;height:24px;}
