/*	General	*/
body {
	color: #463220;
}
a {
	color: #A0734C;
	font-weight: bold;
}
a:hover {
	color: #502300;
	text-decoration: none;
}
::selection {
	background: #C29A77;
}
::-moz-selection {
	background: #C29A77;
}
.container {
	max-width: 980px;
}
.hero-unit {
	padding: 40px;
	margin-bottom: 30px;
	background-color: transparent;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	text-align: center;
}
.hero-unit p {
	font-size: 34px;
	line-height: 32px;
}
.console {
	font-family: courier, 'Courier New';
	font-size: 7em;
	margin-bottom: 40px;
	display: block;
	line-height: 1;
}
.row-fluid {
	margin-bottom: 0;
}
hr {
	margin: 40px 0;
}
i {
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}
.xkcd {
	float: left;
	margin-top: 100px;
	margin-bottom: 40px;
	margin-left: 40px;
    width: 200px;
    height: 200px;
}
.balloon {
	position: absolute;
	left: 165px;
	top: 38px;

	-moz-animation: balloon 5s;
    -webkit-animation: balloon 5s;
    -ms-animation: balloon 5s;
    animation: balloon 5s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -ms-animation-delay: 0s;
    animation-delay: 0s;
}
.mill-1 {
    position: absolute;
    left: 137px;
    top: 98px;

    -webkit-animation-name:            rotate;
    -webkit-animation-duration:        3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -ms-animation-name:            rotate;
    -ms-animation-duration:        3s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -moz-animation-name:            rotate;
    -moz-animation-duration:        3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name:            rotate;
    animation-duration:        3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.mill-2 {
	position: absolute;
	left: 140px;
	top: 85px;
}
.mill-3 {
    position: absolute;
    width: 60px;
    top: 120px;
    left: 179px;
    height: 60px;

    -webkit-animation-name:            rotate;
    -webkit-animation-duration:        1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(.20, .10, .80, .90);
    -ms-animation-name:            rotate;
    -ms-animation-duration:        2s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: cubic-bezier(.34, .08, .70, .95);
    -moz-animation-name:            rotate;
    -moz-animation-duration:        2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: cubic-bezier(.34, .08, .70, .95);
    animation-name:            rotate;
    animation-duration:        2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.34, .08, .70, .95);
}
@media (max-width: 767px) {
	.console {
		font-size: 5em;
	}
	.hero-unit p {
		font-size: 28px;
	}
}
/*	End General	*/

/*	OOCSS	*/
.center {
	text-align: center;
}
.relative {
	position: relative;
}
.margin-top20 {
	margin-top: 20px;
}
.margin-top10 {
	margin-top: 10px;
}
.margin-bottom40 {
	margin-bottom: 40px;
}
.margin-bottom20 {
	margin-bottom: 20px;
}
.margin-bottom40 {
	margin-bottom: 40px;
}
.margin-bottom10 {
	margin-bottom: 10px;
}
.margin-left20 {
	margin-left: 20px;
}
.margin-left10 {
	margin-left: 10px;
}
.margin-left10per {
	margin-left: 10%;
}
.margin-right20 {
	margin-right: 20px;
}
.margin-right10 {
	margin-right: 10px;
}
.no-decoration {
	text-decoration: none;
}
.no-decoration:hover {
	text-decoration: none;
}
.red {
	color: red;
}
.green {
	color: green;
}
.blue {
	color: blue;
}
.bold {
	font-weight: bold;
}
.underline {
	text-decoration: underline;
}
.block {
	display: block;
}
.large-font {
	font-size: 1.6em;
}
/*	End OOCSS	*/


/*	Animations	*/
.floating-more {
	display: inline-block;
	-webkit-animation: swing-more 6s infinite;
	-moz-animation: swing-more 6s infinite;
	-o-animation: swing-more 6s infinite;
	animation: swing-more 6s infinite;
}
.floating-more-two {
	display: inline-block;
	-webkit-animation: swing-more-two 6s infinite;
	-moz-animation: swing-more-two 6s infinite;
	-o-animation: swing-more-two 6s infinite;
	animation: swing-more-two 6s infinite;
}
.pulse {
	display: inline-block;
	font-weight: bold;
	background-color: #C02E2E;
	color: white;
	-moz-box-shadow: 	1px 1px #9A0000, 2px 2px #9A0000, 
						3px 3px #9A0000, 4px 4px #9A0000;
	-webkit-box-shadow: 1px 1px #9A0000, 2px 2px #9A0000,
						3px 3px #9A0000, 4px 4px #9A0000;
	-moz-transition: ll 0.12s ease-out;
	-webkit-transition: ll 0.12s ease-out;
	margin-right: 10px;
	padding: 2px;
}
.pulse:hover {
	background-color: #2daebf;
	text-align: center;
	left: -23px;
	top: -23px;
	padding: 2px;
	z-index: 1;
	font-size: 1.2em;
	-moz-box-shadow: 	1px 1px #007d9a, 2px 2px #007d9a, 3px 3px #007d9a,
						4px 4px #007d9a, 5px 5px #007d9a;
	-webkit-box-shadow: 1px 1px #007d9a, 2px 2px #007d9a, 3px 3px #007d9a,
						4px 4px #007d9a, 5px 5px #007d9a;
	animation-name: boxPulse;
	animation-duration: .7s;
	animation-iteration-count: infinite;
	animation-delay: .12s;
	-webkit-animation-name: boxPulse;
	-webkit-animation-duration: .7s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: .12s;
	-moz-animation-name: boxPulse;
	-moz-animation-duration: .7s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-delay: .12s;
	-o-animation-name: boxPulse;
	-o-animation-duration: .7s;
	-o-animation-iteration-count: infinite;
	-o-animation-delay: .12s;
}
/* Pulse */
@keyframes boxPulse {
	from {
		padding: 2px;
		left: -23px;
		top: -23px;
		animation-timing-function: ease-out;
	}
	50% {
		padding: 4px 5px;
		top: -19px;
	}
	to {
		padding: 2px;
		left: -23px;
		top: -23px;
		animation-timing-function: ease-out;
	}
}
@-webkit-keyframes boxPulse {
	from {
		padding: 2px;
		left: -23px;
		top: -23px;
		-webkit-animation-timing-function: ease-out;
	}
	50% {
		padding: 4px 5px;
		top: -19px;
	}
	to {
		padding: 2px;
		left: -23px;
		top: -23px;
		-webkit-animation-timing-function: ease-out;
	}
}
@-moz-keyframes boxPulse {
	from {
		padding: 2px;
		left: -23px;
		top: -23px;
		-moz-animation-timing-function: ease-out;
	}
	50% {
		padding: 4px 5px;
		top: -19px;
	}
	to {
		padding: 2px;
		left: -23px;
		top: -23px;
		-moz-animation-timing-function: ease-out;
	}
}
@-o-keyframes boxPulse {
	from {
		padding: 2px;
		left: -23px;
		top: -23px;
		-o-animation-timing-function: ease-out;
	}
	50% {
		padding: 4px 5px;
		top: -19px;
	}
	to {
		padding: 2px;
		left: -23px;
		top: -23px;
		-o-animation-timing-function: ease-out;
	}
}
/* Swings */
@keyframes swing-more {
	0%   { transform: rotate(8deg); }
	50% { transform: rotate(-8deg); }
	100% { transform: rotate(8deg); }
}
@keyframes swing-more-two {
	0%   { transform: rotate(-8deg); }
	50% { transform: rotate(8deg); }
	100% { transform: rotate(-8deg); }
}
@keyframes balloon {
    0% { margin-top: 0; transform:rotate(-3deg); }
    25% { transform:rotate(3deg) }
    50% { margin-top: -5px; transform:rotate(-3deg); }
    75% { transform:rotate(3deg) }
    100% { margin-top: 0; transform:rotate(-3deg); }
}
@-webkit-keyframes swing-more {
	0%   { -webkit-transform: rotate(8deg); }
	50% { -webkit-transform: rotate(-8deg); }
	100% { -webkit-transform: rotate(8deg); }
}
@-webkit-keyframes swing-more-two {
	0%   { -webkit-transform: rotate(-8deg); }
	50% { -webkit-transform: rotate(8deg); }
	100% { -webkit-transform: rotate(-8deg); }
}
@-webkit-keyframes balloon {
    0% { margin-top: 0; -webkit-transform:rotate(-3deg); }
    25% { -webkit-transform:rotate(3deg) }
    50% { margin-top: -5px; -webkit-transform:rotate(-3deg); }
    75% { -webkit-transform:rotate(3deg) }
    100% { margin-top: 0; -webkit-transform:rotate(-3deg); }
}
@-moz-keyframes swing-more {
	0%   { -moz-transform: rotate(8deg); }
	50% { -moz-transform: rotate(-8deg); }
	100% { -moz-transform: rotate(8deg); }
}
@-moz-keyframes swing-more-two {
	0%   { -moz-transform: rotate(-8deg); }
	50% { -moz-transform: rotate(8deg); }
	100% { -moz-transform: rotate(-8deg); }
}
@-moz-keyframes balloon {
    0% { margin-top: 0; -moz-transform:rotate(-3deg); }
    25% { -moz-transform:rotate(3deg) }
    50% { margin-top: -5px; -moz-transform:rotate(-3deg); }
    75% { -moz-transform:rotate(3deg) }
    100% { margin-top: 0; -moz-transform:rotate(-3deg); }
}
@-o-keyframes swing-more {
	0%   { -o-transform: rotate(8deg); }
	50% { -o-transform: rotate(-8deg); }
	100% { -o-transform: rotate(8deg); }
}
@-o-keyframes swing-more-two {
	0%   { -o-transform: rotate(-8deg); }
	50% { -o-transform: rotate(8deg); }
	100% { -o-transform: rotate(-8deg); }
}
@-o-keyframes balloon {
    0% { margin-top: 0; -o-transform:rotate(-3deg); }
    25% { -o-transform:rotate(3deg) }
    50% { margin-top: -5px; -o-transform:rotate(-3deg); }
    75% { -o-transform:rotate(3deg) }
    100% { margin-top: 0; -o-transform:rotate(-3deg); }
}
/* Rotate */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to { 
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  from {
    -o-transform: rotate(0deg);
  }
  to { 
    -o-transform: rotate(360deg);
  }
}
/*	End Animations	*/
