html {
    padding: 40px 15px;
}
body {
    color: $text-color;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    margin: 0;
}
h1 {
    font-family: $console-font-family;
    font-size: 6.6em;
    margin: 0 0 40px;
    font-weight: 300;
    line-height: 1em;

    @media (max-width: $breakpoint-desk) {
        font-size: 5.2em;
    }
    @media (max-width: $breakpoint-palm) {
        font-size: 4em;
    }
}
h2 {
    margin: 30px 0 0;
}
a {
    color: $brown;
    font-weight: 700;
    text-decoration: none;
    &:hover {
        color: $dark-brown;
    }
}
ul {
    padding-left: 25px;
    li {
        margin-bottom: 5px;
    }
}

::selection {
    background: $bg-selection-brown;
}
::-moz-selection {
    background: $bg-selection-brown;   
}

.align-center {
    text-align: center;
}
