@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to { 
        -moz-transform: rotate(360deg);
    }
}
@keyframes boxPulse {
    from {
        padding: 2px;
        left: -23px;
        top: -23px;
        animation-timing-function: ease-out;
    }
    50% {
        padding: 4px 5px;
        top: -19px;
    }
    to {
        padding: 2px;
        left: -23px;
        top: -23px;
        animation-timing-function: ease-out;
    }
}
@-webkit-keyframes boxPulse {
    from {
        padding: 2px;
        left: -23px;
        top: -23px;
        -webkit-animation-timing-function: ease-out;
    }
    50% {
        padding: 4px 5px;
        top: -19px;
    }
    to {
        padding: 2px;
        left: -23px;
        top: -23px;
        -webkit-animation-timing-function: ease-out;
    }
}
@-moz-keyframes boxPulse {
    from {
        padding: 2px;
        left: -23px;
        top: -23px;
        -moz-animation-timing-function: ease-out;
    }
    50% {
        padding: 4px 5px;
        top: -19px;
    }
    to {
        padding: 2px;
        left: -23px;
        top: -23px;
        -moz-animation-timing-function: ease-out;
    }
}
@keyframes swing-more {
    0%   { transform: rotate(8deg); }
    50% { transform: rotate(-8deg); }
    100% { transform: rotate(8deg); }
}
@keyframes swing-more-two {
    0%   { transform: rotate(-8deg); }
    50% { transform: rotate(8deg); }
    100% { transform: rotate(-8deg); }
}
@-webkit-keyframes swing-more {
    0%   { -webkit-transform: rotate(8deg); }
    50% { -webkit-transform: rotate(-8deg); }
    100% { -webkit-transform: rotate(8deg); }
}
@-webkit-keyframes swing-more-two {
    0%   { -webkit-transform: rotate(-8deg); }
    50% { -webkit-transform: rotate(8deg); }
    100% { -webkit-transform: rotate(-8deg); }
}
@-moz-keyframes swing-more {
    0%   { -moz-transform: rotate(8deg); }
    50% { -moz-transform: rotate(-8deg); }
    100% { -moz-transform: rotate(8deg); }
}
@-moz-keyframes swing-more-two {
    0%   { -moz-transform: rotate(-8deg); }
    50% { -moz-transform: rotate(8deg); }
    100% { -moz-transform: rotate(-8deg); }
}