%centered-container {
    margin: 0 auto;
    max-width: $main-width;
    @media (max-width: $breakpoint-desk) {
        max-width: $secondary-width;
    }
}

header {
    @extend %centered-container;
    .row {
        .two-thirds {
            
        }
        .one-third {
            position: relative;
        }
    }
}
div[role="main"] {
    @extend %centered-container;
    section {
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid #d6d6d6;
    }
}
footer {
    @extend %centered-container;
}