$main-width: 920px;
$secondary-width: 700px;
$breakpoint-desk: 960px;
$breakpoint-palm: 640px;

$line-height: 1.4em;
$font-size: 16px;
$font-family: 'Open Sans', sans-serif;
$console-font-family: courier, 'Courier New';

$text-color: #463220;
$bg-selection-brown: #C29A77;
$light-brown: #EADBCE;
$brown: #A0734C;
$dark-brown: #502300;
